body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}
h1,
h2,
h3 {
  font-weight: 600;
  color: $font-color;
  font-family: $font-style;
  line-height: 1.5;
  text-align: center;
}
h1 {
  color: $main;
  font-size: 2.5em;
  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }
}
h2 {
  font-size: 2em;
}
header {
  padding: 0px 0px;
  text-align: center;
  margin: 0px 0 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
time {
  text-align: center;
  color: $font-color;
}
footer {
  text-align: center;
  padding: 40px;
}
