body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  text-align: justify;
}
h1,
h2,
h3 {
  font-weight: 600;
  color: $font-color;
  font-family: $font-style;
  line-height: 1.2;
  text-align: center;
}
h1 {
  color: $main;
  font-size: 2em;
  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }
}
h2 {
  font-size: 1.6em;
}
header {
  padding: 0px 10px;
  text-align: center;
}
main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
time {
  text-align: center;
  color: $font-color;
}
footer {
  text-align: center;
  padding: 10px;
}
