body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  text-align: justify;
}
h1,
h2,
h3 {
  font-weight: 600;
  color: $font-color;
  font-family: $font-style;
  line-height: 1.2;
  text-align: center;
}
h1 {
  color: $main;
  font-size: 2em;
  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }
}
h2 {
  margin-top: 0;
  font-size: 1.6em;
}
header {
  padding: 0px 10px;
  text-align: center;
}
a,
a:visited {
  color: $link-color;
  font-weight: bold;
   text-decoration: none;
}
a:hover {
  color: $link-hover-color;
   text-decoration: none;
}
main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
time {
  text-align: center;
  color: $font-color;
}
footer {
  text-align: center;
  padding: 10px;
}
hr {
    height: 1px;
    color:  #D3D3D3;
    background-color:  #D3D3D3;
    border: none;
}
.pagination a, .pagination span {
    padding: 7px 18px;
    margin-left: -2px;
    margin-right: -2px;
}
.pagination {
    text-align: center;
}
